.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

h1 {
  margin-bottom: 70px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-controls > button {
  margin-left: 15px;
}

.error {
  color: red;
  margin: 5px 0px;
}

.header-controls {
  display: flex;
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 45px;

}