.App {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.header-wrapper {
  display: flex;
}

.header-wrapper > button {
  margin-left: 15px;
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 45px;

}